:root {
  --border-radius: var(--radius-4);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-mono); 
  color: var(--gray-0);
  background-image: var(--gradient-26);
  background-size: cover;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.parent {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 16px)) 1fr;
  grid-column-gap: 8px;
}

.parent > * {
  grid-column: 2;
}

main {
  margin-top: var(--size-fluid-3);
  margin-bottom: var(--size-fluid-3);
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 30px auto;
  border-radius: var(--radius-blob-5);
  box-shadow: var(--shadow-4);
  transition: border-radius 500ms ease-in;
  &:hover {
    border-radius: var(--radius-5);
  }
}

div:not(.parent) {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-3);
  border: 2px solid var(--gray-0);
  padding: var(--size-fluid-2);
  transform: scale(1);
  transition: transform 0.3s;
}

div:not(.parent):hover {
  transform: scale(1.05);
}

div.recent {
  background-color: var(--orange-5);
}

div.recent h6 {
  line-height: 2.2rem;
}

div.recent li::marker {
  content: "✨";
}

div.nuiteq {
  background-color: #483C68;
}

div.inmobi {
  background-color: #0B4DCC;
}

div.responsibilities {
  background-color: var(--teal-11);
}

div.project {
  background-color: var(--orange-9);
}

div.side-project {
  background-color: var(--pink-7);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-fluid-4);

  margin-bottom: var(--size-fluid-2);
}

ul li {
  margin: var(--size-fluid-1) var(--size-fluid-2);
}

ul li::before {
  content: "\200B";
}

a {
  color: var(--gray-11);
  text-decoration: wavy;
  text-decoration-line: underline;
  text-shadow: 1px 1px 1px var(--gray-6);
}

h4 {
  width: max-content;
  background-color: var(--gray-0);
  border-radius: var(--border-radius);
  padding: var(--size-fluid-1) var(--size-fluid-2);
  margin-bottom: var(--size-fluid-1);
}

.nuiteq > h4 {
  color: #483C68;
}

.inmobi > h4 {
  color: #0B4DCC;
}

:where(h1, h2) {
  text-align: center;
}

:where(h1, h2, h4, h6, p, ol > li) {
  max-inline-size: 100%;
}

h1 {
  color: var(--gray-9);
  margin-bottom: var(--size-fluid-3);
}

h3 {
  color: var(--gray-9);
  background-color: var(--teal-2);
  border-radius: var(--border-radius);
  text-align: center;
  margin: auto;
  border: 2px solid var(--gray-9);
}

p {
  margin: var(--size-fluid-3);
  color: var(--gray-4);
}

p > a {
  display: inline-block;
  margin-top: var(--size-fluid-3);
}

footer > p {
  color: var(--gray-9);
}
