body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-mono); 
  color: var(--gray-0);
  background-image: var(--gradient-15);
  background-size: cover;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.parent {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 16px)) 1fr;
  grid-column-gap: 8px;
}

.parent > * {
  grid-column: 2;
}

main {
  margin-top: var(--size-fluid-3);
  margin-bottom: var(--size-fluid-3);
}

div:not(.parent) {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: var(--radius-4);
  border: 2px solid var(--gray-0);
  padding: var(--size-fluid-2);
  transform: scale(1);
  transition: transform 0.3s;
}

div:not(.parent):hover {
  transform: scale(1.05);
}

div.nuiteq {
  background-color: #483C68;
}

div.inmobi {
  background-color: #0B4DCC;
}

div.project {
  background-color: var(--orange-9);
}

div.side-project {
  background-color: var(--pink-9);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-fluid-4);

  margin-bottom: var(--size-fluid-2);
}

ul li) {
  margin: var(--size-fluid-1) var(--size-fluid-2);
}

ul li::before {
  content: "\200B";
}

a {
  color: var(--gray-0);
  background-color: var(--blue-7);
  border-radius: var(--radius-4);
  padding: var(--size-fluid-1) var(--size-fluid-2);
}

h4 {
  width: max-content;
  background-color: var(--gray-0);
  border-radius: var(--radius-4);
  padding: var(--size-fluid-1) var(--size-fluid-2);
  margin-bottom: var(--size-fluid-1);
}

.nuiteq > h4 {
  color: #483C68;
}

.inmobi > h4 {
  color: #0B4DCC;
}

:where(h1, h2) {
  text-align: center;
}

:where(h1, h2, h4, h6, p, ol > li) {
  max-inline-size: 100%;
}

h1 {
  color: var(--gray-9);
  margin-bottom: var(--size-fluid-3);
}

h3 {
  color: var(--gray-9);
  background-color: var(--teal-2);
  border-radius: var(--radius-4);
  text-align: center;
  margin: auto;
  border: 2px solid var(--gray-9);
}

p {
  margin: var(--size-fluid-3);
  color: var(--gray-4);
}

p > a {
  display: inline-block;
  margin-top: var(--size-fluid-3);
}

footer > p {
  color: var(--gray-9);
}
