body {
  box-sizing: border-box;
  margin: 0;
  padding: 2%;
  color: #d6deeb;
  font-family: "JetBrains Mono", monospace;
  background-color: #011627;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul li {
  padding-top: 20px;
}

ul li::before {
  content: "\200B";
}

.image-name-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 80%;
  height: auto;
  max-width: 250px;
  border-radius: 50%;
}

.work-nuiteq h3 {
  color: #7fdbca;
}

.work-inmobi h3 {
  color: #7fdbca;
}

.contact-parent a {
  color: limegreen;
}

.contact-parent a:visited {
  color: orangered;
}

.projects-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-column .first-column {
  padding-right: 5%;
}

.projects-column p {
  margin: 0;
}

.projects-column .project {
  padding-bottom: 3%;
}

.project-links a {
  color: limegreen;
}

.project-links a:visited {
  color: orangered;
}

.side-projects-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side-projects-column .first-column {
  padding-right: 5%;
}

.side-projects-column p {
  margin: 0;
}

.side-projects-column .side-project {
  padding-bottom: 3%;
}

.project-links a {
  color: limegreen;
}

.project-links a:visited {
  color: orangered;
}

.main-heading {
  color: #80a4c2;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .parent {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul li {
    padding: 10px;
  }
}

@media only screen and (max-device-width: 767px) {
  .parent {
    max-width: 100%;
  }
  ul {
    align-items: center;
    flex-direction: column;
  }
}
